{% extends 'base.html.twig' %}

{% block title %}Welcome To AWS!{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/styles/landing.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="landing-page">
        <header>
            <div class="container">
                <a href="#" class="logo">Welcome to <b>AnonForums</b> stranger!</a>
                <ul class="links">
                    <li onclick="window.location.href = '/'">Home</li>
                    <li onclick="window.location.href = '/topic/create'">New Topic</li>
                    <li onclick="window.location.href = '/feed'">Feed</li>
                    <li onclick="window.location.href = '/edit'">My data</li>
                    <li onclick="window.location.href = '/logout'">Logout</li>
                </ul>
            </div>
        </header>
        <div class="content">
            <div class="container">
                <form action="" method="POST" class="edit-form" enctype="multipart/form-data">
                    <label for="title">Topic Title</label>
                    <input type="text" id="title" name="title" value="">
                    <label for="last_name">Description</label>
                    <textarea id="description" name="description" rows="4" cols="50"></textarea>
                    <input type="file" accept="image/png, image/jpg, image/jpeg" name="image">
                    <div class="info">
                        <button type="submit">Create</button>
                    </div>
                </form>
                <div class="image">
                    <img src="https://i.postimg.cc/65QxYYzh/001234.png">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
